* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.border {
  border: 1px solid #003399;
  border-radius: 5px;
  padding: 15px 15px 25px 15px;
}

h1,
div.border {
  margin: 10px;
}

div h2 {
  margin-bottom: 10px;
}

h1,
h2 {
  color: #003399;
}

.input-subsection:not(:last-child) {
  margin-bottom: 25px;
}

button,
input {
  border-radius: 2px;
  padding: 5px;
}

button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #66ccff;
  background-color: #003399;
}

button:focus {
  outline: 1px solid #66ccff;
}

input {
  border: 1px solid #003399;
  background-color: #66ccff;
  margin-right: 15px;
}

select {
  background-color: #66ccff;
  color: black;
  border: 1px solid #003399;
  padding: 5px 10px;
  margin-right: 15px;
  font-size: 1rem;
}

select option {
  padding: 0 10px;
}

.input-text {
  width: 20vw;
}

input:focus {
  outline: 1px solid #003399;
}

label,
#todo-list li div {
  margin-right: 5px;
}

#member-list li button {
  margin-left: 5px;
}

.section {
  display: flex;
  justify-content: space-between;
}

.section-part {
  flex: 1;
}

#todo-list li div {
  display: inline-block;
  background-color: #66ccff;
  color: #003399;
  padding: 2px;
  border-radius: 2px;
  font-size: small;
  line-height: 100%;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.75rem;
}

.done {
  text-decoration: line-through;
  color: grey;
}
